{% extends "base.html" %}
{% load static %}

{% block title %}
Behind || The Scenes
{% endblock title %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bts.css' %}">

<html xmlns="http://www.w3.org/1999/xhtml"
    style="min-height: 100%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: left; background: #fff;"
    lang="en">


    <style type="text/css">
        @media screen and (max-width: 500px) {
            .pmw-responsive-table .pmw-responsive-cell {
                width: 100% !important;
                display: block;
            }
        }

        @media screen and (max-width: 500px) {
            #ithrv {
                width: 100% !important;
            }
        }

        @media screen and (max-width: 500px) {
            #i71tz8 {
                width: 50% !important;
            }
        }

        @media screen and (max-width: 500px) {
            .pmw-responsive-table {
                min-height: 50px !important;
            }
        }

        @media screen and (max-width: 500px) {
            .pmw-content-container {
                width: 100% !important;
            }
        }

        @media screen and (max-width: 500px) {
            .pmw-media-type {
                width: 100% !important;
            }
        }

        @media screen and (max-width: 500px) {
            .pmw-content-button {
                min-width: fit-content !important;
            }
        }
    </style>
    <style type="text/css">
        ::-webkit-scrollbar {
            width: 8px;
            background: #FAFAFA;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #DCDCE1;
            border-radius: 4px;
        }
    </style>

    <style>
        @media screen and (max-width: 500px) {
            .pmw-responsive-table .pmw-responsive-cell {
                width: 100% !important;
                display: block;
            }

            #ithrv {
                width: 100% !important;
            }

            #i71tz8 {
                width: 50% !important;
            }

            .pmw-responsive-table {
                min-height: 50px !important;
            }

            .pmw-content-container {
                width: 100% !important;
            }

            .pmw-media-type {
                width: 100% !important;
            }

            .pmw-content-button {
                min-width: fit-content !important;
            }
        }
    </style>

    {% endblock head %}


    {% block body %}


    <section>

        <body
            style="margin: 0 !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; width: 100% !important;">
            <table data-is-pmw-wrapper="1" data-pmw-type="postermywall-wrapper" cellspacing="0" cellpadding="0"
                id="iwwu" style="box-sizing: border-box;  height: 100%; width: 100%;" width="100%" height="100%"
                bgcolor="#FAFAFA">
                <tbody data-is-pmw-tbody="1" data-pmw-type="postermywall-tbody" style="box-sizing: border-box;">
                    <tr data-is-pmw-row="1" data-pmw-type="postermywall-row" id="i1ja"
                        style="box-sizing: border-box; height: 100%;">
                        <td data-is-pmw-wrapper-cell="1" data-pmw-type="postermywall-wrapper-cell" cellspacing="0"
                            align="middle" id="i2a3" style="box-sizing: border-box; height: 100%;" height="100%">
                            <table data-is-pmw-content="1" data-pmw-type="postermywall-content"
                                class="pmw-content-container" cellspacing="0" id="i6pf"
                                style="box-sizing: border-box; background-color: #FFFFFF; border-color: #FFFFFF; font-family: Helvetica, sans-serif; margin-left: auto; margin-right: auto; height: 100%; min-width: min(600px, 100%); min-height: 100%; max-width: max(800px, 100%); max-height: none; vertical-align: top; width: 80%;"
                                width="80%" height="100%" bgcolor="#FFFFFF" valign="top">
                                <tbody data-is-pmw-tbody="1" data-pmw-type="postermywall-tbody"
                                    style="box-sizing: border-box;">
                                    <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                        style="box-sizing: border-box;">
                                        <td data-pmw-type="postermywall-content-container"
                                            data-is-pmw-content-container="1" align="middle" id="ilrg"
                                            style="box-sizing: border-box; background: none; width: 100%; margin: 0; padding: 0; height: 100%; min-height: 100%; max-height: none; vertical-align: top;"
                                            width="100%" height="100%" valign="top">
                                            <img data-is-pmw-image="1" data-pmw-type="postermywall-image" alt="Image"
                                                aria-hidden="true" id="itgz"
                                                src="{% static 'images/car/IMG20230619131351.jpg' %}" width="100%"
                                                class="pmw-media-type"
                                                style="box-sizing: border-box; width: 100%; --mobile-width: 100%; max-width: 100%; display: block; height: auto; border-color: #FFFFFF;"
                                                height="auto">
                                            <table data-is-pmw-section="1" data-pmw-type="postermywall-section"
                                                cellspacing="0" cellpadding="15" id="i1kj9" width="100%"
                                                class="pmw-responsive-table"
                                                style="box-sizing: border-box; padding: 6px; margin: 0px; width: 100%; min-height: 150px; vertical-align: middle; height: auto; font-family: Helvetica, sans-serif; background-repeat: no-repeat; background-size: cover; background-position: center; border-color: #FFFFFF; opacity: 100%; background-color: transparent; background-image: url(https://d1csarkz8obe9u.cloudfront.net/uploads/emails/a49dbfebeb57b79903ff9416477bcf06947530.png);"
                                                height="auto" valign="middle" bgcolor="transparent"
                                                background="https://d1csarkz8obe9u.cloudfront.net/uploads/emails/a49dbfebeb57b79903ff9416477bcf06947530.png">
                                                <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                    style="box-sizing: border-box;">
                                                    <td data-is-pmw-cell="1" data-pmw-type="postermywall-cell"
                                                        id="ifh9e" width="10%" class="pmw-responsive-cell"
                                                        style="box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: center; border-color: #FFFFFF; margin: 0px; min-width: 10px; padding: 5px; width: 10%;">
                                                    </td>
                                                    <td data-is-pmw-cell="1" data-pmw-type="postermywall-cell"
                                                        id="ithtf" width="80%" class="pmw-responsive-cell"
                                                        style="box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: center; border-color: #FFFFFF; margin: 0px; min-width: 10px; padding: 5px; width: 80%;">
                                                        <table data-pmw-type="postermywall-section-divider"
                                                            data-is-pmw-divider="1" cellspacing="0" cellpadding="0"
                                                            id="i7681t"
                                                            style="box-sizing: border-box; width: 100%; height: 40px; border: 0; border-radius: 0; margin: 0; outline: none; background: none; color: transparent;"
                                                            width="100%" height="40">
                                                            <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                                style="box-sizing: border-box;">
                                                                <td data-is-pmw-divider-cell="1" cellspacing="0"
                                                                    cellpadding="0" id="iq1ref"
                                                                    style="box-sizing: border-box; width: 100%; height: 100%;"
                                                                    width="100%" height="100%"></td>
                                                            </tr>
                                                        </table>
                                                        <p data-pmw-type="postermywall-text" id="ildph"
                                                            data-has-extended-controls="1"
                                                            style="color: #ffffff; display: block; padding: 5px; margin: 0; width: 85%; box-sizing: border-box; word-break: break-word; overflow-wrap: break-word; letter-spacing: normal; font-size: 20px; font-weight: bold; line-height: 20px; font-family: Trebuchet MS, Helvetica, sans-serif; text-align: center; opacity: 100%; border-color: #FFFFFF; padding-left: 0px; padding-right: 0px; padding-top: 5px; padding-bottom: 5px; background-color: transparent; margin-left: auto; margin-right: auto;">
                                                            MULTIFUNCTIONAL CAR</p>
                                                        <p data-pmw-type="postermywall-text" id="iij0v"
                                                            style="color: #ffffff; display: block; padding: 5px; margin: 0; width: 100%; box-sizing: border-box; word-break: break-word; overflow-wrap: break-word; letter-spacing: normal; font-size: 40px; font-weight: normal; line-height: 45px; font-family: Impact, Charcoal, sans-serif; text-align: center; opacity: 100%; border-color: #FFFFFF; margin-left: auto; margin-right: auto; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                                                            BEHIND THE SCENES</p>
                                                        <p data-pmw-type="postermywall-text" id="ictkv"
                                                            style="color: #ffffff; display: block; padding: 10px; margin: 0; width: 95%; box-sizing: border-box; word-break: break-word; overflow-wrap: break-word; letter-spacing: normal; font-size: 14px; font-weight: normal; line-height: 18px; font-family: Helvetica, sans-serif; text-align: center; opacity: 100%; border-color: #FFFFFF; margin-left: auto; margin-right: auto;">
                                                            We have created our <b>Multifunctional Car</b> as a project.
                                                            So
                                                            here is the some pictures and details which tells that what
                                                            happend in behind the creating project. Let's explore BEHIND
                                                            THE
                                                            SCENCE. </p>
                                                        <center class="mt-3">
                                                            <a href="{% url 'contact' %}"
                                                                class="text-decoration-none btn btn-sm btn-warning rounded-5">
                                                                Contact US</a>
                                                        </center>
                                                        <table data-pmw-type="postermywall-section-divider"
                                                            data-is-pmw-divider="1" cellspacing="0" cellpadding="0"
                                                            id="iil23n"
                                                            style="box-sizing: border-box; width: 100%; height: 40px; border: 0; border-radius: 0; margin: 0; outline: none; background: none; color: transparent;"
                                                            width="100%" height="40">
                                                            <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                                style="box-sizing: border-box;">
                                                                <td data-is-pmw-divider-cell="1" cellspacing="0"
                                                                    cellpadding="0" id="iuitli"
                                                                    style="box-sizing: border-box; width: 100%; height: 100%;"
                                                                    width="100%" height="100%"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td data-is-pmw-cell="1" data-pmw-type="postermywall-cell"
                                                        id="i6x69" width="10%" class="pmw-responsive-cell"
                                                        style="box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: center; border-color: #FFFFFF; margin: 0px; min-width: 10px; padding: 5px; width: 10%;">
                                                    </td>
                                                </tr>
                                            </table>
                                            <table data-is-pmw-section="1" data-pmw-type="postermywall-section"
                                                cellspacing="0" cellpadding="15" id="ieskb" width="100%"
                                                class="pmw-responsive-table"
                                                style="box-sizing: border-box; padding: 6px; margin: 0px; width: 100%; min-height: 150px; vertical-align: middle; height: auto; font-family: Helvetica, sans-serif; background-repeat: no-repeat; background-size: cover; background-position: center; border-color: #FFFFFF; opacity: 100%; background-image: url(https://d1csarkz8obe9u.cloudfront.net/uploads/emails/c784331c0f89476e27fa3bca70b97eee608352.png);"
                                                height="auto" valign="middle"
                                                background="https://d1csarkz8obe9u.cloudfront.net/uploads/emails/c784331c0f89476e27fa3bca70b97eee608352.png">
                                                <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                    style="box-sizing: border-box;">
                                                    <td data-is-pmw-cell="1" data-pmw-type="postermywall-cell"
                                                        id="ik32t" width="10%" class="pmw-responsive-cell"
                                                        style="box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: center; border-color: #FFFFFF; margin: 0px; min-width: 10px; padding: 5px; width: 10%;">
                                                    </td>
                                                    <td data-is-pmw-cell="1" data-pmw-type="postermywall-cell"
                                                        id="iv691" align="center" width="40%"
                                                        class="pmw-responsive-cell"
                                                        style="box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: center; border-color: #FFFFFF; margin: 0px; min-width: 10px; padding: 5px; width: 40%; vertical-align: middle; background-image: url(https://d1csarkz8obe9u.cloudfront.net/uploads/emails/7e135633037eb274ea98160a2dfe1da1217384.png);"
                                                        valign="middle"
                                                        background="https://d1csarkz8obe9u.cloudfront.net/uploads/emails/7e135633037eb274ea98160a2dfe1da1217384.png">
                                                        <table data-pmw-type="postermywall-section-divider"
                                                            data-is-pmw-divider="1" cellspacing="0" cellpadding="0"
                                                            id="i3ajj7"
                                                            style="box-sizing: border-box; width: 100%; height: 30px; border: 0; border-radius: 0; margin: 0; outline: none; background: none; color: transparent;"
                                                            width="100%" height="30">
                                                            <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                                style="box-sizing: border-box;">
                                                                <td data-is-pmw-divider-cell="1" cellspacing="0"
                                                                    cellpadding="0" id="ifca3d"
                                                                    style="box-sizing: border-box; width: 100%; height: 100%;"
                                                                    width="100%" height="100%"></td>
                                                            </tr>
                                                        </table>
                                                        <img data-is-pmw-image="1" data-pmw-type="postermywall-image"
                                                            alt="Image" aria-hidden="true" id="irorq"
                                                            src="{% static '/images/car/IMG20230619163303.jpg' %}"
                                                            width="178" class="pmw-media-type"
                                                            style="box-sizing: border-box; width: 84.66%; --mobile-width: 100%; max-width: 100%; display: block; height: auto; border-color: #FFFFFF; margin-left: auto; margin-right: auto; border-width: 5px; border-style: solid;"
                                                            height="auto">
                                                        <table data-pmw-type="postermywall-section-divider"
                                                            data-is-pmw-divider="1" cellspacing="0" cellpadding="0"
                                                            id="i4te2q"
                                                            style="box-sizing: border-box; width: 100%; height: 30px; border: 0; border-radius: 0; margin: 0; outline: none; background: none; color: transparent;"
                                                            width="100%" height="30">
                                                            <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                                style="box-sizing: border-box;">
                                                                <td data-is-pmw-divider-cell="1" cellspacing="0"
                                                                    cellpadding="0" id="iad9f5"
                                                                    style="box-sizing: border-box; width: 100%; height: 100%;"
                                                                    width="100%" height="100%"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td data-is-pmw-cell="1" data-pmw-type="postermywall-cell"
                                                        id="iujxt" width="40%" class="pmw-responsive-cell"
                                                        style="box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: center; border-color: #FFFFFF; margin: 0px; min-width: 10px; padding: 5px; width: 40%;">
                                                        <table data-pmw-type="postermywall-section-divider"
                                                            data-is-pmw-divider="1" cellspacing="0" cellpadding="0"
                                                            id="i6db06"
                                                            style="box-sizing: border-box; width: 100%; height: 30px; border: 0; border-radius: 0; margin: 0; outline: none; background: none; color: transparent;"
                                                            width="100%" height="30">
                                                            <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                                style="box-sizing: border-box;">
                                                                <td data-is-pmw-divider-cell="1" cellspacing="0"
                                                                    cellpadding="0" id="iyal75"
                                                                    style="box-sizing: border-box; width: 100%; height: 100%;"
                                                                    width="100%" height="100%"></td>
                                                            </tr>
                                                        </table>
                                                        <p data-pmw-type="postermywall-text" id="ivw3y"
                                                            style="color: #ffffff; display: block; padding: 10px; margin: 0; width: 100%; box-sizing: border-box; word-break: break-word; overflow-wrap: break-word; letter-spacing: normal; font-size: 25px; font-weight: bold; line-height: 25px; font-family: Trebuchet MS, Helvetica, sans-serif; text-align: center; opacity: 100%; border-color: #FFFFFF; background-color: #1f313a;">
                                                            EXPLORE OUR WORK</p>
                                                        <table data-pmw-type="postermywall-section-divider"
                                                            data-is-pmw-divider="1" cellspacing="0" cellpadding="0"
                                                            id="i2o4dm"
                                                            style="box-sizing: border-box; width: 100%; height: 20px; border: 0; border-radius: 0; margin: 0; outline: none; background: none; color: transparent;"
                                                            width="100%" height="20">
                                                            <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                                style="box-sizing: border-box;">
                                                                <td data-is-pmw-divider-cell="1" cellspacing="0"
                                                                    cellpadding="0" id="i4qlpl"
                                                                    style="box-sizing: border-box; width: 100%; height: 100%;"
                                                                    width="100%" height="100%"></td>
                                                            </tr>
                                                        </table>
                                                        <p data-pmw-type="postermywall-text" id="icvzw"
                                                            style="color: #242424; display: block; padding: 10px; margin: 0; width: 100%; box-sizing: border-box; word-break: break-word; overflow-wrap: break-word; letter-spacing: normal; font-size: 17px; font-weight: normal; line-height: 18px; font-family: Trebuchet MS, Helvetica, sans-serif; text-align: center; opacity: 100%; border-color: #FFFFFF;">
                                                            How we have completed our work : GALLERY</p>
                                                        <p data-pmw-type="postermywall-text" id="i2th7"
                                                            style="color: #242424; display: block; padding: 10px; margin: 0; width: 90%; box-sizing: border-box; word-break: break-word; overflow-wrap: break-word; letter-spacing: normal; font-size: 14px; font-weight: normal; line-height: 16px; font-family: Trebuchet MS, Helvetica, sans-serif; text-align: center; opacity: 100%; border-color: #FFFFFF; margin-left: auto; margin-right: auto;">
                                                            In our website you will get further details about our
                                                            project.
                                                            By the gallery you can see how we have worked with our team.
                                                            We
                                                            give efforts to complete this project better and fast way.
                                                        </p>
                                                        <table data-pmw-type="postermywall-section-divider"
                                                            data-is-pmw-divider="1" cellspacing="0" cellpadding="0"
                                                            id="i6in6h"
                                                            style="box-sizing: border-box; width: 100%; height: 15px; border: 0; border-radius: 0; margin: 0; outline: none; background: none; color: transparent;"
                                                            width="100%" height="15">
                                                            <tr data-is-pmw-row="1" data-pmw-type="postermywall-row"
                                                                style="box-sizing: border-box;">
                                                                <td data-is-pmw-divider-cell="1" cellspacing="0"
                                                                    cellpadding="0" id="idis2l"
                                                                    style="box-sizing: border-box; width: 100%; height: 100%;"
                                                                    width="100%" height="100%"></td>
                                                            </tr>
                                                        </table>
                                                        <center class="mt-3">
                                                            <a href="{% url 'contact' %}"
                                                                class="text-decoration-none btn btn-sm btn-warning rounded-5">
                                                                Contact US</a>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </table>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </body>

    </section>

    <h1 class="text-center opacity-50 mt-5 fw-bolder" style="letter-spacing: .2rem; font-size:3.5rem;">GALLERY</h1>


    <section class="gallery mt-5">

        <div class="image-container">

            <div class="image" style="--clip-start: ellipse(0 0 at 0 0); --clip-end: ellipse(150% 150% at 0 0);"><img
                    src="{% static '/images/car/IMG20230619125152.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619125152.jpg' %}" loading="lazy" />
            </div>
            <div class="image" style="--clip-start: inset(100% 0 0 0); --clip-end: inset(0 0 0 0);"><img
                    src="{% static '/images/car/IMG20230619125243.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619125243.jpg' %}" loading="lazy" />
            </div>
            <div class="image" style="--clip-start: ellipse(0 0 at 100% 0); --clip-end: ellipse(150% 150% at 100% 0);">
                <img src="{% static '/images/car/IMG20230619130031.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619130031.jpg' %}" loading="lazy" />
            </div>
            <div class="image"
                style="--clip-start: polygon(50% 50%,  50% 50%,  50% 50%, 50% 50%); --clip-end: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);">
                <img src="{% static '/images/car/IMG20230619130745.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619130745.jpg' %}" loading="lazy" />
            </div>
            <div class="image" style="--clip-start: circle(0); --clip-end: circle(125%);"><img
                    src="{% static '/images/car/IMG20230619130754.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619130754.jpg' %}" loading="lazy" />
            </div>
            <div class="image" style="--clip-start: inset(100% 100% 100% 100%); --clip-end: inset(0 0 0 0);"><img
                    src="{% static '/images/car/IMG20230619131351.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619131351.jpg' %}" loading="lazy" />
            </div>
            <div class="image" style="--clip-start: ellipse(0 0 at 0 100%); --clip-end: ellipse(150% 150% at 0 100%);">
                <img src="{% static '/images/car/IMG20230619150537.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619150537.jpg' %}" loading="lazy" />
            </div>
            <div class="image" style="--clip-start: inset(0 0 100% 0); --clip-end: inset(0 0 0 0);"><img
                    src="{% static '/images/car/IMG20230619150552.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619150552.jpg' %}" loading="lazy" />
            </div>
            <div class="image"
                style="--clip-start: ellipse(0 0 at 100% 100%); --clip-end: ellipse(150% 150% at 100% 100%);"><img
                    src="{% static '/images/car/IMG20230619163030.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619163030.jpg' %}" loading="lazy" />
            </div>
            <div class="image"
                style="--clip-start: polygon(50% 50%,  50% 50%,  50% 50%, 50% 50%); --clip-end: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);">
                <img src="{% static '/images/car/IMG20230619163045.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619163045.jpg' %}" loading="lazy" />
            </div>
            <div class="image" style="--clip-start: circle(0); --clip-end: circle(125%);"><img
                    src="{% static '/images/car/IMG20230619163116.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619163116.jpg' %}" loading="lazy" />
            </div>
            <div class="image" style="--clip-start: inset(100% 100% 100% 100%); --clip-end: inset(0 0 0 0);"><img
                    src="{% static '/images/car/IMG20230619163300.jpg' %}" loading="lazy" /><img
                    src="{% static '/images/car/IMG20230619163300.jpg' %}" loading="lazy" />
            </div>

        </div>
       

    </section>



    {% endblock body %}