{% extends "base.html" %}

{% load static %}

{% block title %}
Parts || Component Of The Scenes
{% endblock title %}


{% block body %}

<div class="container mt-5">

    <h1 class="display-4 fw-bold opacity-50 lh-1 text-center text-body-emphasis">All Components Here</h1>

    <div class="container my-5" id="Mdriver">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">L298 Motor Driver
                </h2>
                <p class="lead mt-3">The L298 Motor Driver is a component used to control motors in simple electronic
                    circuits. It allows us to control the speed and direction of DC motors. It can also be used with
                    stepper motors. The L298 Motor Driver is popular because it provides an easy way to connect and
                    control motors, making it useful in various projects such as robotics and automation.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/moter_driver_page.jpg' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5" id="Bmodule">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Bluetooth Module
                </h2>
                <p class="lead mt-3">HC-05 is a Bluetooth module which is designed for wireless communication. A
                    Bluetooth Module is a small electronic device that enables wireless communication between devices
                    over short distances. It uses Bluetooth technology to establish connections and exchange data
                    wirelessly. Bluetooth Modules are commonly used in various applications such as wireless audio
                    systems, smart home devices, and wearable technology. They provide a convenient and efficient way to
                    connect and communicate between devices without the need for physical cables.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/Bluetooth_module_page.jpeg' %}" alt=""
                    width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="Smotor">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Servo Motor
                </h2>
                <p class="lead mt-3">A Servo Motor is a small device that helps control the movement of objects. It
                    consists of a motor and a feedback mechanism that ensures precise positioning. Servo Motors are
                    commonly used in robotics, remote-controlled vehicles, and other applications where accurate and
                    controlled movement is required. They can rotate to specific angles and hold that position, making
                    them useful for tasks that demand precision and stability.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/Servo_motor_page.jpeg' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="Gmotor">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Gear Motor
                </h2>
                <p class="lead mt-3">A Gear Motor is a type of motor that incorporates gears to provide increased torque
                    and control over rotational speed. It combines the functions of a motor and a gearbox in one compact
                    unit. Gear Motors are widely used in various applications, such as robotics, automation, and
                    machinery, where high torque and precise speed control are necessary. They are efficient, reliable,
                    and help transmit power effectively while reducing the rotational speed.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/Gear_motor_page.jpeg' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="Rwheel">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Robot Wheel
                </h2>
                <p class="lead mt-3">A Robot Wheel is a round component designed to facilitate movement for robots. It
                    is typically made of a durable material such as rubber or plastic and features a tread or pattern on
                    its surface to enhance traction. Robot wheels come in various sizes and designs to suit different
                    robot configurations and environments. These wheels enable robots to navigate and traverse different
                    surfaces, allowing for efficient and controlled movement in robotics applications.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/Robot_wheel_page.jpeg' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="Fboard">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Foam Board
                </h2>
                <p class="lead mt-3">Foam Board is a lightweight and durable material used for various purposes. It is
                    made of a foam core sandwiched between two layers of paper or plastic. Foam boards are easy to work
                    with, as they can be cut, shaped, and decorated. They are commonly used in crafts, presentations,
                    and school projects. Foam boards provide a sturdy surface for mounting artwork or displaying
                    information, making them a versatile choice in many creative and educational settings.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/Foam_board_page.jpeg' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="battery">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Li-Ion Battery
                </h2>
                <p class="lead mt-3">A Li-ion (Lithium-ion) battery is a rechargeable energy storage device commonly
                    used in electronic devices like smartphones, laptops, and electric vehicles. It provides a high
                    energy density, allowing for longer battery life. Li-ion batteries are lightweight, making them
                    portable and convenient. They are known for their stability and ability to hold a charge over
                    multiple cycles. Li-ion batteries have revolutionized portable electronics by providing a reliable
                    and efficient power source.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/Li-ion_battery_page.jpeg' %}" alt=""
                    width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="Arduino">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Arduino UNO
                </h2>
                <p class="lead mt-3">Arduino UNO is a popular microcontroller board used for creating interactive
                    electronic projects. It features a simple design with various input and output pins that allow users
                    to connect sensors, actuators, and other components easily. Arduino UNO is beginner-friendly, as it
                    can be programmed using a user-friendly software interface. It enables people to explore and
                    experiment with electronics and coding, making it a valuable tool for learning and prototyping
                    projects.</p>   
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/Arduino_uno_page.png' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="IRsensor">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">IR Sensor
                </h2>
                <p class="lead mt-3">An IR (Infrared) sensor is a device that detects infrared radiation emitted by
                    objects. It consists of an emitter and a receiver that work together to detect changes in infrared
                    light patterns. IR sensors are commonly used in applications like proximity sensing, obstacle
                    detection, and line-following robots. They provide a reliable and non-contact method for detecting
                    objects or measuring distances, making them useful in various automation and robotics projects.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/IR _sensor_page.png' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="ultrasonic">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Ultrasonic Sensor
                </h2>
                <p class="lead mt-3">An Ultrasonic sensor is a device that uses sound waves to measure distances and
                    detect objects. It emits high-frequency sound waves and measures the time it takes for the waves to
                    bounce back after hitting an object. This data is used to calculate the distance to the object.
                    Ultrasonic sensors are commonly used in robotics, security systems, and automation. They provide a
                    non-contact and accurate method for object detection and distance measurement.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/Ultrasonic_sensor_page.webp' %}" alt=""
                    width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="wire">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">Jumper Wire
                </h2>
                <p class="lead mt-3">Jumper wires are essential components used in electronics projects for connecting
                    various electronic elements together. They are flexible wires with pre-stripped ends that can be
                    easily plugged into breadboards, connectors, or other components. Jumper wires eliminate the need
                    for soldering, allowing for quick and temporary connections. They provide a convenient and versatile
                    solution for establishing electrical connections between different components, making prototyping
                    and experimentation more accessible for beginners and professionals alike.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/jumper_wire_page.png' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="IRmodule">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">IR Receiver Module
                </h2>
                <p class="lead mt-3">
                    An IR receiver module is a device that receives and detects infrared signals from an IR transmitter.
                    It is commonly used in remote control systems, allowing devices to receive commands wirelessly. The
                    IR receiver module captures the transmitted infrared signals and converts them into electrical
                    signals that can be interpreted by a microcontroller or other electronic components. It enables
                    devices to communicate and respond to commands sent via infrared technology.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/IR_reciver_module.jpeg' %}" alt="" width="100%">
            </div>
        </div>
    </div>


    <div class="container my-5 view" id="onoff">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-2 p-lg-3 pt-lg-3">
                <h2 class=" text-center display-4 opacity-50  fs-1 fw-bold lh-1 text-body-emphasis">On / Off Switch
                </h2>
                <p class="lead mt-3">An on-off switch is a simple mechanical device used to control the flow of
                    electricity in a circuit. It allows users to turn a device or circuit on or off by either closing or
                    opening the circuit. When the switch is in the "on" position, it completes the electrical path,
                    allowing the current to flow. Conversely, when the switch is in the "off" position, it interrupts
                    the electrical path, preventing the current from flowing, effectively shutting off the device or
                    circuit. On-off switches are commonly found in everyday devices like lamps, appliances, and
                    electronic gadgets.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static '/images/parts/on_off_switch.jpg' %}" alt="" width="100%">
            </div>
        </div>
    </div>


</div>

{% endblock body %}